.srch button {
    padding: .55rem 2rem;
    /* margin: 2rem; */
    border-radius: .3rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.74);
    cursor: pointer;
}

.srch button:hover {
    transform: scale(1.09);
    transition: transform 0.12s ease-in-out;
    background-color: rgb(249, 141, 0);
    /* transition: transform 0.4s ease-in-out; */
}

.srch input {
    margin: 0 1rem 0 2rem;
    border-radius: .3rem;
    padding: .55rem 3rem .55rem .8rem;
}

.srch{
    margin: 2rem auto;
}

.mn {
    width: 100%;
    display: flex;
    justify-content:flex-end;
}